/* Start Globale Css */
.container{
  padding: 0 15px;
  margin: 0 auto;
  width: 90%;
}
@media (max-width:768px) {
  .container{
    width: 100%;
  }
}
/* End Globale Css */

/* Start App Css*/
.App{
  width: 100%;
  background-color: white;
}
/* End App Css*/